*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.navbar{
    background-image: url(../img/carousel1.jpg);
    background-size: cover;
}

.quienes-somos{
    background-color: black;
}

.iconos{
    background-color: #219ebc;
}

.destacados{
    background-color: black;
}

.card{
    background-color: #219ebc;
}

.contacto{
    background-color: black;
}

.contacto button{
    background-color: #219ebc;
}

.contacto .mensaje-grande input{
    height: 150px;
}

footer{
    background-color: #219ebc;
}
